.tablero{
    height: 570px;
    max-height: 900px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(4,1fr);
    max-width: 850px;
    width: 757px;
    margin: 40px auto 0;
    
}