*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: #1E181D;
    color: #BE00AE;
    font-size: 20px
}   
a{
    text-decoration: none;
    color:#BE00AE;
}
a:link{
    text-decoration: none;
    color:#BE00AE;
}
a:visited{
    text-decoration: none;
    color:#e400d1;
}
a:hover{
    text-decoration: underline;
    color:#e400d1;

}
.container{
    max-width: 1600px;
    width: 100%;
    height: 100vh;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__buttons_item{
    padding: 13px;
    margin-left: 10px;
    background-color: #22261F;
    color: #60E700;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
}
/* Minimo de footer 90px */
.footer__by{
    text-align: center;
    align-self: center;
}
footer{
    border-top: 2px solid #444;
    min-height: 75px;
    justify-content: center;
    align-items: center;
}
/* Header STYLE */
.header{
    background-color:#455D33;
    margin: 0 auto;
    height: 70px;
}
.header__titulo{
    color: #59BD13;
    font-size: 50px;
}
.header__movimientos{
    color: #22261F;
}
.header__movimientos span{
    color: #60E700;
}
/* Ainmaciones */
.header__buttons_item:hover{
    background-color: #60E700;
    color: #22261F;
}